
---
---


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethics in Information Technology</title>
</head>

<body>

    <h1>Privacy</h1>
    <p>The rise of new technologies leads to the rise in questions about privacy concerns as a result. As we grow more connected, our access to information grows. Unfortunately, this increases the risk of our information being used in ways we don't expect. As surveillance through technology becomes more commonplace, it is essential to stand by a moral and ethical obligation to protect people's privacy. van den Hoven, Jeroen, Martijn Blaauw, Wolter Pieters, and Martijn Warnier, "Privacy and Information Technology", The Stanford Encyclopedia of Philosophy (Summer 2020 Edition), Edward N. Zalta (ed.) <a href="https://plato.stanford.edu/archives/sum2020/entries/it-privacy/" target="_blank">Source</a></p>
    <h2>Transparency</h2>
    <p>Being transparent is essential to build trust with users. As stated in the Harvard Business Review, "Don't sacrifice long-term goodwill for short-term benefits". By using approaches that build trust, everybody involved can benefit. <a href="https://hbr.org/2015/05/customer-data-designing-for-transparency-and-trust" target="_blank">Source</a></p> 
    <h2>Bias</h2>
    <p>When building AI systems, great effort must be taken to eliminate any possible biases. These biases can lead to people being unjustly sent to prison, rejected from school, or harmed in other ways. It is the responsibility of a designer to catch and remove these biases.
        <a href="https://www.forbes.com/sites/forbestechcouncil/2021/02/04/the-role-of-bias-in-artificial-intelligence/?sh=611054ee579d" target="_blank">Source</a></p>
    
    

</body>

</html>
